
/*empieza docente*/
.style {
    background-image: url(../img/Diseño\ sin\ título.jpg);
}


.docentes {
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 4, 1fr;
    grid-template-areas: "1 2";
    @include border (solid, 2px, blanchedalmond);
    border: solid 2px rgb(245, 245, 245);
}




h1 {
    color: blanchedalmond;
}

.foto-profe {

    @include sizes (12rem, 12rem);

}

/*Docentes Media query dispositivos pequeños*/



@media screen and (max-width :$pantalla-mobile) {

    .docentes {
         @include flex-column;

    }
}