/*empieza clases*/
.style {
   background-image:linear-gradient (to bottom right ,
   #DFDDBC, #BDCDE6,
  #EBB6BA ,

   #F05677);}

table {
    color:#E9DFCB ;
  }
  
  
  #lista-desordenada {
    color:#FBFAFF ;
    margin-bottom: 100px;
    font-weight: bold;
  }
  
  ol {
    color:#FBFAFF ;
  }
  
  
  .container-table {
    border: solid 1px #E9DFCB ;
    @include sizes (622px, 1380px);
  
  }
  
  .container-table {
    background-image: linear-gradient(to right,#3D4045 ,#E6678E );
  
  
  
  }
  
  
  /*clases para media query pequeños*/
  
  @media screen and (max-width:$pantalla-mobile) {
    .foto-clase {
      width: 300px;
    }
  
    .container-table {
      border: solid 1px #E9DFCB;
  
      @include sizes (25rem, 89rem);
    }
  
  }