/*extends*/
.botones-generales {
    padding: 1rem;
    margin-bottom: 5rem;


}

p {
    font-size:1.5rem;
}
    

     
.nav-item :hover{
            
    color: rgb(252, 69, 99)  ;
    animation-duration:4s ;
    
}
.data-aos {
    animation-duration: 14s; 
   }

.nav-item {
font-size:2rem;
}
