/*acá empieza Muestras */

.grilla {
    display: grid;
  
  }
  
  
  .Item4 {
    
    grid-template-columns:3 , 1fr ;
    grid-template-rows: 2 , 1fr;
    grid-template-areas: 
    "card-foto 1  card_foto 2" 
    "card-foto 3   card_foto 4    card-foto 5";
    
  }

  
  
  
  .Item5 {
    display: flex;
    justify-content: center;
    background-image:linear-gradient( to bottom right, grey 10% ,#545454,#EBB6BA , rgb(226, 96, 117)) ;
    animation:movimiento 5s linear infinite alternate;
    background-size: 200% , 200%;
    position: relative;
  
  @keyframes movimiento{
    from  { background-position: 0,0;
    }
   to  {background-position:100%,100%; }
  } }
  
    /*puedo hacer algo con grid en galeria*/
  .galeria {

    
    @include flex-column;
  
  
    width: 536px;
    height: 363px;
  }
    
  .h2tienda {
    margin-right:5rem ;
  }


  .caja-tienda {
    @include sizes (441px,1640px );

  }

  .list-group-item {
    background-image: linear-gradient( to bottom right, grey 10% ,#545454,#EBB6BA);
    @extend.botones-generales;
    height: 468px;
  
  }
  
  /* media querie para dispositivos moviles medianos muestras*/
  
  @media screen and (max-width :$pantalla-mediana) {
    .galeria {
  
      width: 348px;
  
  
    }
    .caja-tienda {
      @include sizes (441px,1556px );
  
    }
  
    .list-group-item {
      height: 441px;
    }
  
  }
  
  
  
  
  /*media querie para dispositivos pequeños muestras  */
  
  /*tienda*/
  @media screen and (max-width: $pantalla-mobile) {
  
    .h2tienda {
      margin-right:1rem ;
    }
  
    .tienda {

      @include sizes (318px, 2000px);
  
      margin-top: 10px;
  
    }
  
  
  
    .caja-tienda {
      @include sizes (318px, 1706px);
  
    }
    .galeria {
      width: 105px;
      height: 106px;
  
  
    }
  
  
    .card-foto {
      width: 50px;
      height: 50px;
    }
  
  }